@keyframes color-change {
	from { color: orange; }
	to { color: white; }
}

@font-face {
  font-family: "Cactus";
  src: url("/ttf/CactusRegular.ttf");
}
@font-face {
  font-family: "Roman";
  src: url("/ttf/Roman SD.ttf");
}
@font-face {
  font-family: "Oncial";
  src: url("/ttf/IrishuncialfabetaBold-2OEBd.ttf");
}
@font-face {
  font-family: "Celtic Garamond";
  src: url("/ttf/CELTG___.ttf");
}
@font-face {
  font-family: "Morris Roman Black";
  src: url("/ttf/MorrisRomanBlack.ttf");
}
@font-face {
  font-family: "Morris Roman Black Alt";
  src: url("/ttf/MorrisRomanBlackAlt.ttf");
}
@font-face {
  font-family: "Assassin";
  src: url("/ttf/Assassin$.ttf");
}
@font-face {
  font-family: "Imperator";
  src: url("/ttf/Imperator.ttf");
}
@font-face {
  font-family: "Erotique-Regular";
  src: url("/ttf/ErotiqueTrial-Regular.ttf");
}
@font-face {
  font-family: "Erotique-Medium";
  src: url("/ttf/ErotiqueTrial-Medium.ttf");
}
@font-face{
  font-family: "Resolve";
  src: url("/ttf/Resolve.ttf");
}
@font-face{
  font-family: "Supernova";
  src: url("/ttf/Supernova.ttf");
}

*{
  margin: auto;
  padding: auto;
}
html{
  height: 97%;
}

body{
  color: white;
  background: linear-gradient(transparent, #1B1B1B), url("/Images/bg.jpg");
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  background-attachment: fixed;
	background-size: cover;
	background-position: center;
}

.logo{
  margin-top:25px;
  margin-bottom:50px;

  text-align: center;
}

.menu{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 7px;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 10px;

  background-color: rgba(0,0,0,0.7);
  border-radius: 5px;
  border: solid;
  border-color: black;
}
.menu li{
  list-style-type: none;
  position: relative;
}
.menu a{
  display: block;
  margin: 0.5rem;

  text-align: center;
  text-decoration: none;
  color: white;
  font-family: "Roman", serif;
  font-size: 20px;
  font-weight: bold;
}
.menu .subnav{
  display: none;
  position: absolute;

  left: -15%;
  top: 20px;
  width: 125%;

  text-align: center;
  z-index: 3;
}

.menu .subnav ul{
  background: rgba(0,0,0,0.8);
  border: 2px solid black;
  border-radius: 10px;

  margin-top: 10px;
  padding: 0;

  font-family: "Roman", serif;
  font weight: bold;

}

.menu .subnav ul li a{
  padding: 10px;
  transition: all ease 0.5s;
  border-bottom: 0px;
  border-radius: 10px;
  margin: 0;
  font-size: 17px;
}

.menu .subnav ul li a:hover{
  background: #707070;

}

.menu li:hover > .subnav{
  display: block;
}

.handler{
  cursor: pointer;
}

.thirdnav{
  display: none;
  margin-top: 0px !important;
  border-bottom: 2px solid white;
}
.menu .subnav ul li .thirdnav a{
  font-size: 13px;
}
.active > a{
  color: darkgray;
}

.global_text{
  text-align: center;
}
.global_text h2{
  font-size: 35px;
  margin: 15px 0;
  font-family: "Imperator", serif;
}
.characterDescription{
  font-size: 20px;
  margin: 5px 30px;
  line-height: 35px;
  font-family: "Erotique-Medium";
}
.characterDescription .skillTree{
  margin: 15px 0 0 0;
  padding: 0;
}
.characterDescription .skillTree a{
  color: white;
  font-size: 23px;
  text-underline-offset: 3px;
}

.container{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;

  flex-direction: row;
  flex-wrap: wrap;

  align-items: space-around;
  justify-content: space-around;
  row-gap: 30px;

  margin: 2% 3%;
  padding-top: 2%;
  padding-bottom: 3%;
  border-radius: 5px;

  background-color: rgba(0,0,0,0.3);
  border-radius: 10px;

}
.countdown{
  width: 100%;
  padding: 50px 0;

  background: radial-gradient(ellipse at center,  #071961  0%, transparent 70%);
  background-size: 100%;

  text-align: center;
  font-size: 30px;
  font-family: "Imperator";
  text-shadow: black 2px 2px 2px;
}
.countdown a{
  text-decoration: none;
  color: white;
}
.countdown #countdown{
  margin-top: 10px;
}
.colorSwap{
  animation: color-change 1s;
}

.item{
  z-index: 1;

  display: inline-block;
  position: relative;
  padding-left: 2%;
  padding-right: 2%;
}
.item.fullsize{
	flex: 100%;
	text-align: center;
	padding: 0;
	margin: 0;
}
.item.fullsize img{
	width: 70%;
	max-width: 919px;
}
.item .inside_text{
  position: absolute;
  text-align: center;

  margin: 0 auto;
  left: 0;
  right: 0;
  top: 30%;
  width: 70%;

  color: white;
  font-family: "Erotique-Medium", monospace;
  font-weight: bold;
}
.inside_text{
  z-index: 2;
  font-size: 32px;
  opacity: 0;
  transition: all ease 0.5s;
}
.item:hover .inside_text{
  opacity: 1;
}
.item:hover .for_blur{
  filter: blur(10px);
}
.for_blur{
  filter: blur(0px);
  border-radius: 15px;
  transition: all ease-out 0.5s;
}
.button{
  border-radius: 15px;
}

/* Characters page */
.img{
  display: inline-block;
  position: relative;
  width: 40%;
}
.text{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
}

/* Items */
.container.two_col > div{
  flex: 50%;
}
.item_box{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 20px;

  border: 3px solid #91760D;
  background: rgba(0,0,0,0.6);
  border-radius: 10px;
}
.item_picture{
  height: 75%;
}
.item_box img{
  height: 100%;
  border-radius: 10px;
}
.item_stats{
  height: 325px;
}
.item_gems{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 600px;
  height: 90%;
  background: brown;

  flex-wrap: wrap;
  justify-content: space-around;
  align-items: space-around;

}
.item_gems .gem_slot{
  flex: 0 0 50%;
  margin:0;
}
.item_gems .gem_slot .gem{
  height: 100%;
  width: 100%;
  background: cyan;
}
.item_container{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  max-width: 45%;

  flex-direction: column;
}
.item_text{
  max-width: 100%;
  margin: 0;
  text-align: center;
  font-size: 17px;
  font-style: italic;
  font-family: "Supernova";
}

.tab{
  width: 100%;
  padding: 0;
  margin: 0;

  text-align: center;
  border-collapse: collapse;
}
.tab td{
  padding: 10px 0 ;
  margin: 0;
  border: 5px solid black;
  border-collapse: collapse;
  font-size: 17px;
  font-family: "Imperator";
}
.tab td a{
  text-decoration: none;
  color: white;
}
.tab .shortcol{
  width: 90px;
}
.tab .mediumcol{
  width: 175px;
}
.tab .pricecol{
  width: 150px;
}
.tab td.titletable{
  background: rgba(0,0,0,0.6);
  font-size: 22px;
  font-family: "Imperator", monospace;
  font-weight: bold;
}
.pnscontainer{
  width: 100%;
  padding: 0;
  margin: 0 20px;
}

.buttonscroll{
  width: 50px;
  height: 50px;
  margin-left: auto;
  margin-right: 20px;
  background-image: url("/Images/buttonscroll.png");
  background-size: cover;
  cursor: pointer;
  transition: all 0.5s ease;
}
.buttonscroll:hover{
  opacity: 0.7;
}
.container.nogap{
  row-gap: 5px;
  padding-bottom: 0.5%;
}

.league{
  display: inline-block;
  position: relative;
  height: 300px;

  background: rgba(0,0,0,0.4);
  border: 5px solid black;
  border-radius: 20px;

}
.league .imgHeaderLeague{
  padding: 30px;
  width: 450px;
}
.league .imgHeaderLeague img{
  width: 100%;
  border-radius: 40px;
}
.league .charactersList{
  font-size: 20px;
  font-family: "Imperator", serif;
  text-align: center;
}
.league .charactersList ul{
  padding: 0;
}
.league .charactersList li{
  list-style-type: none;
  padding: 10px 0;
}
.league .charactersList li a{
  text-decoration: none;
  color: white;
}

footer{
  text-align: center;
  background-color: #1B1B1B;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-top: 10px;

  z-index: 30;
}
.contact{
  margin: 0;
  padding-left: 10px;
}
.contact a{
  text-decoration: none;
  color: white;
}
.disclaimer{
  margin-bottom: 10px;
  padding: 0 15px;
}
.row-flex{
  display:flex;
  align-items: center;
}
.copyright{
  font-size: 12px;
  opacity: 0.6;
  letter-spacing: 1px;
}
.mb-0{
  margin-bottom: 0px;
  background-color: rgba(0,0,0,0.6);

  padding-top: 1%;
  padding-bottom: 1%;
}

@media only screen and (max-width: 1200px) {
  .container{
    flex-direction: column;
  }
}
